#customFile .custom-file-input:lang(pt)::after {
    content: "Selecione o aqrquivo...";
  }

  .custom-file-label::after{
    content: "Arquivo" !important;
  }
  
  /*when a value is selected, this class removes the content */
  .custom-file-input.selected:lang(pt)::after {
    content: "" !important;
  }
  
  .custom-file {
    overflow: hidden;
  }
  .custom-file-input {
    white-space: nowrap;
  }