	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/02/2020 11:30
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;

}

.flaticon-checklist:before { content: "\f100"; }
.flaticon-audit:before { content: "\f101"; }
.flaticon-checklist-1:before { content: "\f102"; }
.flaticon-statistics:before { content: "\f103"; }
.flaticon-dollar:before { content: "\f104"; }
.flaticon-architecture-and-city:before { content: "\f105"; }
.flaticon-ticket:before { content: "\f106"; }
.flaticon-search:before { content: "\f107"; }
.flaticon-time:before { content: "\f108"; }
.flaticon-people:before { content: "\f109"; }


