
.slider-height {
    min-height: 830px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$laptop}{
        min-height: 700px;
    }
    @media #{$md}{
        min-height: 600px;
    }
    @media #{$xs}{
        min-height: 470px;
    }
}

.slider-height2{
    min-height: 300px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$xs}{
        min-height: 260px;
    }
}

.slider-area{
    margin-top: -1px;
    .hero__caption{
        & h1{
            font-size: 70px;
            font-weight: 900;
            margin-bottom: 14px;
            color: #0867DF;
            font-family: $font_1;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 53px;
            @media #{$lg}{
                font-size: 60px;
                line-height: 1.2;
            }
            @media #{$md}{
                font-size: 50px;
                line-height: 1.2;
            }
            @media #{$xs}{
                font-size: 35px;
                line-height: 1.2;
            }
        }
        & p{
            font-size: 18px;
            line-height: 1.2;
            font-weight: 300;
            margin-bottom: 39px;
            color: $theme_color;
            margin-bottom: 7px;
            text-transform: uppercase;
            @media #{$xs}{
                margin-bottom: 30px;
            }
        }
    }

}

//
.hero-overly {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        background-color: rgba(1, 10, 28,  0.3);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

// Another Hero Page
.slider-area{
    .hero-cap{
        & h2{
            color: #fff;
            font-size: 50px;
            font-weight: 700;
            text-transform: capitalize;
        }
    }
}




// arrow
.slider-active {
    & button{
        &.slick-arrow {
            position: absolute;
            top: 50%;
            left: 80px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background: none;
            border: 0;
            padding: 0;
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            cursor: pointer;
            background: $theme_color;
            -webkit-transition: .4s;
            -o-transition: .4s;
            transition: .4s;
            i{
                font-size: 20px;
                line-height: 60px;
            }
        }
        &.slick-next {
            left: auto;
            right: 80px;
        }
        &.slick-arrow .secondary-img {
            right: 26px;
        }
       &:hover img {
            opacity: 0;
        }
        &:hover .secondary-img {
            opacity: 1;
        }
    }
    // hover
    &:hover button.slick-prev {
        left: 100px;
        @media #{$laptop}{
            left: 20px; 
        }
        @media #{$lg}{
            left: auto;
            right: 10px;
        }
        
    }
    
    &:hover button.slick-next {
        right: 100px;
        @media #{$laptop}{
            right: 20px; 
        }
    }
    
    &:hover button {
        opacity: 1;
        visibility: visible;
    }
    
    & button:hover {
        background: #0867DF;
    }
    
    .secondary-img {
        position: absolute;
        opacity: 0;
    }
    
}
