.request-back-area{
    padding: 100px 0px;
    @media #{$lg}{
        padding: 80px 0px;
    }
    @media #{$md}{
        padding: 80px 0px;
    }
    @media #{$xs}{
        padding: 80px 0px;
    }
    background: #0867DF;
    .request-content{
        & h3{
          color: #fff; 
          font-size: 40px;
          @media #{$lg}{
            font-size: 36px;
          }
          font-weight: 700;
          line-height: 1.2;
          margin-bottom: 30px;
        }
        & p{
            color: #fff;
            @media #{$sm}{
                margin-bottom: 50px;
            }
            @media #{$xs}{
                margin-bottom:50px;
            }
        }
    }
}

.form-wrapper{
    .form-box{
        & input{
            width: 100%;
            height: 55px;
            background: transparent;
            border: 2px solid#295684;
            border-radius: 5px;
            padding: 11px 19px;
            color:#718eab;
            &::placeholder{
                color: #fff;
            }
        }
    }
    & .nice-select{
        width: 100%;
        height: 55px;
        background: transparent;
        border: 2px solid#295684;
        border-radius: 5px;
        padding: 11px 19px;
        color:#8ca2b8;
        line-height: 1.9;
    }
    & .nice-select::after {
        border-bottom: 2px solid #295684;
        border-right: 2px solid #295684;
        height: 9px;
        width: 9px;
        margin-top: -4px;
        right: 21px;
    }
    .nice-select.open .list {
        width: 100%;
        border-radius: 0;
    }
    .nice-select .list {
        width: 100%;
    }
}



